/* Scale 1.2 minor-third */
/* 2.986rem */
h1 {
    font-size: clamp(1.5rem, 25vw, 2.5rem);
    color:#f0a417;
}

/* 2.488rem */
h2 {
    font-size: 2.3rem;
    font-weight: 500;
    padding:2rem 0rem 2rem 2rem;
    color:#2098cd;
    line-height: 1.3;
    

}
/* 2.074rem */
h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
/* 1.728rem; */
h4 {
    font-size: 1.4rem;
    padding:4rem 4rem 4rem 4rem;
    color:#f0a417;
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    
    
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}



p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}