* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

:root {
/* NØYTRAL OG DEMPET PALETT */

/* BG COLOR BODY */
--bg-body: #5E5C6C; /* Dempet blågrå – rolig og behagelig */

/* HEADINGS OG SEKSJONER */
--bg-heading-section:  #FF8800; /* Mørk lavendel – kunstnerisk og sofistikert */
--bg-section-presentasjon: #6D6875; /* Mørk lavendel */
--bg-section-argumenter: #6D6875; /* Mørk lavendel */
--bg-section-kurstilbud: #6D6875; /* Mørk lavendel */
--bg-section-footer: #6D6875; /* Mørk lavendel */

/* BUTTONS */
--bg-button: #7A9E9F; /* Dyp sjøgrønn – fremhever handlingselementer */

/* CARDS BG COLOR */
--bg-cards-craftsville: #6D6875; /* Mørk lavendel */
--bg-cards-argumenter: #6D6875; /* Mørk lavendel */
--bg-cards-kurstilbud: #847e8f; /* Mørk lavendel */
--bg-cards-footer: #6D6875; /* Mørk lavendel */
--bg-card-text-wrapper:#FF8800; 

}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

body {
    
    max-width: 1280px;
    background-color: var(--bg-body);
}

header {
    display:flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding:1rem;

}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}

ul {
    display:flex;
    gap:1rem;
   
    list-style-type: none;
    font-size: 1rem;
}

li {
    background-color: coral;
}

main {
    background-color: white;
}

/* SECTIONS */

section, footer {
    display: flex;
    gap:1rem;
   
    padding:1rem;
}

/* SECTIONS */

.section-presentasjon {
    background-color: var(--bg-section-presentasjon);
}

.section-argumenter {
    
    background-color: var(--bg-section-argumenter);
}

.section-kurstilbud {
  
    background-color: var(--bg-section-kurstilbud);
}

.section-footer {
    background-color: var(--bg-section-footer);
}

/* CARDS */
/* velger alle som begynner med cards- */
[class^="cards-"] {
    border-radius: 0px;
    padding: 0rem;
}

.card-text-wrapper {
    display: flex;
    flex:1; /* regulerer høyde etter box med mest innhold flex-grow */
    flex-direction: column;
    justify-content: space-between;
    padding:1rem;
    background-color: var(--bg-card-text-wrapper);
}

/* cards satt til flex-start for blocks etterhverande */
.cards-craftsville, .cards-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* cards satt til space-between for pushe button to bottom */
.cards-argumenter, .cards-kurstilbud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-craftsville {
    width:33%;
    background-color: var(--bg-cards-craftsville);
}

.cards-argumenter {
    width:33%;
    background-color: var(--bg-cards-argumenter) ;
    
}

.cards-kurstilbud {
    width:33%;
    background-color: var(--bg-cards-kurstilbud) ;
}

.cards-footer {
    width: 33%;
    background-color: var(--bg-cards-footer) ;
}

/* BILDER CARDS */

.image-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center center; /* Sentrerer bildet */
}

/* BUTTONS les mer.. */
button {
    margin-top: auto;
    width: fit-content;
    padding:1rem 2rem;
    border-radius: 8px;
    color:whitesmoke;
    background-color: var(--bg-button);
    border:0;
}

button:hover {
    background-color: #66a500;
}


@media (max-width: 992px) {
    section, footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Fordeler elementene jevnt */
    }

    /* Velger alle klasser som starter med "cards-" */
    [class^="cards-"] {
        width: calc(50% - 10px); /* To kolonner med mellomrom */
        min-width: 200px;
        box-sizing: border-box; /* Hindrer at padding øker bredden */
    }
}



@media (max-width:768px) {
    section, footer {
        display:flex;
        flex-wrap: wrap;
        width: 100%;
        min-width: 300px;
    }
    /*velger alle som begynner med cards */
    [class^="cards-"] {
        width: 100%;
    }
}