* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

:root {
/* NØYTRAL OG DEMPET PALETT */

--bg-header:#1d4355; /* #1d4355 */

/* BG COLOR BODY #172c36 */
--bg-body:  #172c36; 

/* HEADINGS OG SEKSJONER */
--bg-heading-section:  #264e60;  /* h2 #264e60 */
--bg-section-presentasjon: #1d4355; /* #1d4355 */
--bg-section-argumenter: #2098cd; 
--bg-section-kurstilbud: #F3B61F; 
--bg-section-footer: #2098cd; 

/* BUTTONS */
--bg-button: #63C132; /* Dyp sjøgrønn – fremhever handlingselementer */

/* BG color tekst i cards */
--bg-card-text-wrapper:#D7D9D7;

/* CARDS BG COLOR */
--bg-cards-craftsvilla: #dabdb0; 
--bg-cards-argumenter: transparent; 
--bg-cards-kurstilbud: transparent; 
--bg-cards-footer: #dabdb0; 


}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
    background-color: var(--bg-body);
    padding:0 3% 0 3%;
    max-width: 1440px;
    color:#242424;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-header);
    padding:1rem 1rem 0rem 1rem;
    position:sticky;
    top:0;
    

}


nav {
    display: flex;
    flex-direction: column; /* Endre til row for horisontal meny */
    justify-content: center;
    align-items: center; /* Sentrerer elementene horisontalt */
    padding: 1rem 0;
}
/* MENY liste */
.meny-liste {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    list-style-type: none; /* Fjern punktmerkene */
    padding: 0;
    margin: 0;
}

.meny-liste a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}

ul li a:hover {
    color: #ffcc00; /* Valgfri hover-effekt */
}

.meny-liste li:nth-child(1) {
    padding:0.5rem 1rem;
    background-color: #f0a417;
    border-radius: 4px;
    border:0px solid #f0a417;
}
.meny-liste li:nth-child(2) {
    padding:0.5rem 1rem;
    background-color:#007BFF;
    border-radius: 4px;
    border:0px solid #172c36;
}
.meny-liste li:nth-child(3) {
    padding:0.5rem 1rem;
    background-color: #19a111;
    border-radius: 4px;
    border:0px solid #172c36;
}
.meny-liste li:nth-child(4) {
    padding:0.5rem 1rem;
    background-color: #dabdb0;
    border-radius: 4px;
    border:0px solid #172c36;
}


/* Atelier hero image */
.hero-image {
    width: 100%;
    height: 500px;
    overflow: hidden; /* Hindrer ekstra plass */
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block; /* Fjerner ekstra plass nederst */
}

.logo {
    background-color: #A4031F;
    padding:0.4rem 1rem;
    border:2px solid #ffcc00;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: fit-content;
    margin-bottom: 1rem;
}
.logo h1 {
    font-size:1.5rem;
    color:#ffcc00;
    margin:0;
    padding:0;
}
.logo p {
    font-size: 0.8rem;
    color:whitesmoke;
    padding:0;
    margin:0;
    text-transform: uppercase;
    color:whitesmoke;
}


.h2-kreativ-utvikling {
font-size: 2.5rem;
font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--bg-heading-section);
    color:#f0a417;

}
main {
    background-color: transparent;
}
/* PÅMELDINGSSKJEMA PÅ PAMELDING.HTML PAGE */
section.pamelding-skjema {
    background-color: #dabdb0;
    padding-top:3rem;
    padding-bottom:3rem;
} 

/* FORM STYLING */
form {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.212);
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#privatpersonFields, #firmaFields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

h5 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.radio-label {
    display: inline-block;
    margin-right: 15px;
    font-weight: normal;
    margin-bottom: 1rem;
}

input[type="text"], 
input[type="email"], 
input[type="number"], 
input[type="tel"], 
input[type="date"],
select, 
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid lavender;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.212);
}

/* placeholder tekst color */
input::placeholder, textarea::placeholder {
    color: black;
}



.form-group {
    margin-bottom: 10px;
}

.comment-field {
    grid-column: span 2;
}

.hidden {
    display: none !important;
}

button {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Responsivt form */
@media (max-width: 576px) {
    #privatpersonFields, #firmaFields {
        grid-template-columns: 1fr;
    }
    
    .comment-field {
        grid-column: 1;
    }
}


/* END FORM STYLING */




/* SECTIONS */

section, footer {
    display: flex;
   
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
   justify-content: space-between;

}

/* Setter FLEX Kolonner til 3 kolonner. under 992px - 2 kolonner*/
.cards-craftsvilla, 
.cards-argumenter, 
.cards-kurstilbud {
    width: calc(33.33% - 0.5rem); /* Account for the gap */
}

/* SECTIONS */

.section-presentasjon {
    background-color: var(--bg-section-presentasjon);
   

}

.section-argumenter {
    
    background-color: var(--bg-section-argumenter);
}

.section-kurstilbud {
  
    background-color: var(--bg-section-kurstilbud);
}

.section-footer {
    background-color: var(--bg-section-footer);
}



.h4-hvorfor-kurs {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: var(--bg-heading-section);    
   
}

.h4-hvorfor-kurs h4 {
    width:100%;
    max-width: 600px;
    
   
}

.kurstilbud-h2 {
    color:#f0a417;
    background-color: var(--bg-heading-section);
    padding-left:2rem;
}

/* CARDS */
/* velger alle som begynner med cards- */

[class^="cards-"] {

    border-radius: 8px;
}

.cards-text-wrapper {
    display: flex;
    flex:1; /* regulerer høyde etter box med mest innhold flex-grow */
    flex-direction: column;
    justify-content: space-between;
    padding:2rem 2rem;
    background-color: var(--bg-card-text-wrapper);


}

/* cards satt til flex-start for blocks etterhverande */
.cards-craftsvilla, .cards-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* cards satt til space-between for pushe button to bottom */
.cards-argumenter, .cards-kurstilbud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-craftsvilla {
    
    background-color: var(--bg-cards-craftsvilla);
}

/* CARD-4 ER SKJULT - VISES KUN UNDER 992px - se media 992px */

.cards-4 {
    display:none;
}

.cards-argumenter {
   
    background-color: var(--bg-cards-argumenter) ;
    
}

.cards-kurstilbud {
    background-color: var(--bg-cards-kurstilbud) ;
}
/* verktøy, kurstider, sesongkort osv... i kursbox info */
/* .kurs-info {
    padding:1rem;
    border-radius: 4px;
    background-color: #F2C14E;
  
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
    font-size: 1rem;
} */

.cards-footer {
   
    background-color: var(--bg-cards-footer) ;
}

/* Kun .card-kurstilbud skal ha border, padding og bg-farge */
.cards-kurstilbud .image-wrapper {
    border: 12px solid rgb(46, 46, 46);
    padding: 16px;
    background-color: whitesmoke;
    margin-bottom: 1rem;
}
/* Kun .card-argumenter image-wrapper  */
.cards-argumenter .image-wrapper {
    margin-bottom: 1rem;
    border-radius: 8px;
}

/* Generell styling */
.image-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* BUTTONS les mer.. */
button {
    margin-top: auto;
    width: fit-content;
    padding:1rem 2rem;
    border-radius: 8px;
    color:whitesmoke;
    background-color: var(--bg-button);
    border:0;
}

button:hover {
    background-color: #66a500;
}

/* CARDS - INNHOLD - bg farge li se li:nth-child */
/* craftsvilla presentasjon heading Skap, lær ... */
.h4-overskrift {
    padding:2rem 0 2rem 0;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.2;
    color:#264e60;
}

.argument-liste {
    display: flex;
    gap:0.5rem;
    flex-direction: column;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
    font-size: 1rem;
    

}

.argument-liste li {
    background-color: #F3B61F;
    list-style-type: none; /* Standard bullet points */
    list-style-position: inside; /* Plasser bullet points innenfor li */
    padding: 1rem;
    border-radius: 6px;
    text-align: center;


}

/* icons styling */

.material-symbols-outlined {
   
   
  
}

.home-icon {
    display: flex;
    align-items: center;
}

.icon-wrapper {
    display:flex;
}
.icon-check-symbol {
    color:#63C132;
    font-size:30px;
    margin-right: 8px;
    
}
.icon-info-symbol {
    color:#f0a417;
    font-size:30px;
    margin-right: 8px;
    
}
/*  --------------- MEDIA QUERIES -------------  */

@media (max-width:1245px) {
    header {
        display: flex;
        flex-direction: column;
        
    }

}

@media (max-width: 992px) {
 /* FLex kolonner til 2 kolonner -*/   
    .cards-craftsvilla, 
    .cards-argumenter, 
    .cards-kurstilbud, 
    .cards-4 {
    width: calc(50% - 0.5rem); /* Account for the gap */
}
    
    
    section, footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Fordeler elementene jevnt */
    }

    /* Velger alle klasser som starter med "cards-" */

    .cards-4 {
        display:block;
        display:flex;
        flex-direction: column;
        flex:1;
        gap:1rem;
    }
}



@media (max-width:767px) {

  

    nav {
        display: flex;
        flex-direction: column; /* Endre til row for horisontal meny */
        justify-content: center;
        align-items: center; /* Sentrerer elementene horisontalt */
        padding: 1rem 0;
        width:100%;

    }
    
    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width:100%;
        text-align: center;
        font-size: 1rem;
        list-style-type: none; /* Fjern punktmerkene */
        padding: 0;
        margin: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: whitesmoke;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color 0.3s ease-in-out;
    }

    section, footer {
        display:flex;
        flex-wrap: wrap;
        width: 100%;
        min-width: 300px;
    }
    /*velger alle som begynner med cards */
    [class^="cards-"] {
        width: 100%;
    }

}

@media (max-width:500px) {

    header{
        position: static;
    }
    /* galleri page har body class galleri page */
    .galleri-page .slogan-hero-image {
        display: none;
    }
    /* vise pamelding skjema på pamelding page */
    .pamelding-page #signupForm {
        display:block;
    }

    .hero-image {
        height:300px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        width:100%;

    }
    
    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width:100%;
        text-align: center;
        font-size: 1rem;
        list-style-type: none; /* Fjern bullets */
        padding: 0;
        margin: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: whitesmoke;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color 0.3s ease-in-out;
    }

    .cards-4 {
        display:none;
    }

    #signupForm {
        display:none;
    }

}